
<h3>List of Products</h3>

<div>
    <input type="search" placeholder="Search" [(ngModel)]="searchKey"/>
</div>
<br/>
<p *ngIf="searchKey" >
    Search results for {{searchKey}}
</p>
<table>
    <thead>
        <tr>
            <th>Index</th>
            <th>Product ID</th>
            <th>Name</th>
            <th>Price</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of data | filter : searchKey; index as i; even as even; odd as odd" 
                            [ngClass]="{oddCls: odd, evenCls: even}">
            <td>{{i}}</td>
            <td>{{product.id}}</td>
            <td>{{product.name | uppercase}}</td>
            <td>{{product.price | currency : 'Rs.'}}</td>
            <td>{{product.description}}</td>
            <td>
                <button (click)="editProduct(product)">Edit</button> &nbsp;
                <button>Delete</button>
            </td>
        </tr>
        <tr>
            <td>
                <button (click)="saveProduct();">Save</button>
            </td>
            <td>
                <input type="number" placeholder="ID" [(ngModel)] = "nProduct.id"/>
            </td>
            <td>
                <input placeholder="Name" [(ngModel)] = "nProduct.name"/>
            </td>
            <td>
                <input type="number" placeholder="Price" [(ngModel)] = "nProduct.price"/>
            </td>
            <td>
                <input placeholder="Description" [(ngModel)] = "nProduct.description"/>
            </td>
        </tr>
    </tbody>
</table>

<div>
  New product(for debugging)  {{nProduct | json}}
</div>

<app-edit-product #editProductRef *ngIf="selectedProduct"
    [product]="selectedProduct" 
    (cancelled)="editCancelled($event)" 
    (saved)="editUpdated($event)"></app-edit-product>
