<div>
    <h4>Edit Product of ID: </h4>
    <fieldset>
        <div>
            <label>Name</label>
            <div>
                <input type="text" placeholder="Name"/>
            </div>
        </div> 
        <div>
            <label>Price</label>
            <div>
                <input type="number" placeholder="Price"/>
            </div>
        </div> 
        <div>
            <label>Description</label>
            <div>
                <input type="text" placeholder="Desc"/>
            </div>
        </div> 
        <div>
            <button>Save</button> &nbsp;
            <button>Cancel</button>
        </div>




    </fieldset>
</div>
