<div>
  <h4>Edit Product of ID: {{ product.id }}</h4>

  <!-- FormGroup -->
  <!-- #productFormGroup : Template varibale -->
  <form #productFormGroup="ngForm">
    <fieldset>
      <div>
        <label>Name</label>
        <div>
            <!-- FormControl -->
            <!-- input has a name and the ngModel -->
          <input type="text" placeholder="Name" [(ngModel)]="temp.name" name="pname" 
                        required pattern="([a-zA-Z0-9_]{1,}[ ]{0,}){0,}" 
                        #nameCtrl="ngModel" [appForbiddenValidator]="'admin,mgr'"/>
        </div>
        <div *ngIf="nameCtrl.invalid" [ngStyle]="{color: 'red'}">
            This field in required and in the correct format
        </div>
        <div *ngIf="nameCtrl.hasError('forbidden')" [ngStyle]="{color: 'red'}">
          Forbidden Value
      </div>
      </div>
      <div>
        <label>Price</label>
        <div>
             <!-- FormControl -->
          <input type="number" placeholder="Price" [(ngModel)]="temp.price" name="pprice" 
                                        required min="100" #priceCtrl="ngModel"/>
        
        </div>
        <div *ngIf="priceCtrl.hasError('required')" [ngStyle]="{color: 'red'}">
            The field is required
        </div>
        <div *ngIf="priceCtrl.hasError('min')" style="color: red;">
            The minimum value must be 100
        </div>
      </div>
      <div>
        <label>Description</label>
        <div>
             <!-- FormControl -->
          <input
            type="text"
            placeholder="Desc"
            [(ngModel)]="temp.description" name="pdesc"
          />
        </div>
      </div>
      <div>
        <button (click)="save()" [disabled]="productFormGroup.pristine || productFormGroup.invalid">Save</button> &nbsp;
        <button (click)="cancel()">Cancel</button>
      </div>
    </fieldset>
  </form>
</div>
