<h3>Data Binding</h3>

<div>
    Show/Hide Content: <input type="checkbox" [(ngModel)]="isPanelVisible"/>
</div>
<div [hidden]="!isPanelVisible">
    <h4>Name: {{name}}</h4>
    <h4 id="ctr">Count: {{count}}</h4>

    <div>
        <input [placeholder]="ctrPlaceHolder" 
                    type="number" [value]="count"/>
    </div>
    <br/>
    <div>
        <button (click)="inc($event);">Increment</button>
    </div>
</div>

<div>
    <!-- var element = document.getElementById("..."); -->
    Show/Hide NgModel Content: <input type="checkbox" #element [ngModel]/>{{element.checked}}
</div>
<div [hidden]="!element.checked">
    <br/>
    <div>
        
        <input placeholder="Name" 
            [(ngModel)]="name" [ngModelOptions]="{updateOn: 'change'}"/>
    </div>
    <br/>
    <div>
        <input type="number" 
                placeholder="Count" 
                [value]="count"
                (input) ="count=$any($event).target.value"/>
    </div>
</div>